<!--SIDEBAR CONTENT STARTS-->
	<div class="SubpageBoxSubSm">
		<div class="SubpageBoxSubSmContent">
			<% if (!author) {
				author = { "name": "", "avatar": theme.avatar, "email": theme.email, "github": theme.github, "twitter": theme.twitter };
			} %>
			<%
			var avatar;
			if (!author.avatar) {
				avatar = gravatar(author.email, 200);
			} else {
				avatar = '/images/avatars/' + author.avatar;
			}%>

			<div class="ProfileImg">
				<% if (author.id) { %>
				<a href="/bios/<%= author.id %>">
				<% } %>
					<img src='<%= avatar%>' />
				<% if (author.id) { %>
				</a>
				<% } %>
			</div>

			<BR clear="all">

			<h2><a href="/bios/<%= author.id %>"><%= author.name %></a></h2>
			<% if (author.email) { %>
			<a href="mailto:<%=author.email%>"><img class="ProfileIcon" src="/images/icon_email.png" border="0" alt="Email" title="Email"> Email</a><BR>
			<% } %>
			<% if (author.web) { %>
			<a href="<%=author.web%>" target="_blank"><img class="ProfileIcon" src="/images/icon_web.png" border="0" alt="Web" title="Web"> Web</a><BR>
			<% } %>
			<% if (author.twitter) { %>
			<a href="http://twitter.com/<%=author.twitter%>" target="_blank"><img class="ProfileIcon" src="/images/icon_twitter.png" border="0" alt="Twitter" title="Twitter"> Twitter</a><BR>
			<% } %>
			<% if (author.github) { %>
			<a href="https://github.com/<%=author.github%>" target="_blank"><img class="ProfileIcon" src="/images/icon_github.png" border="0" alt="GitHub" title="GitHub"> GitHub</a><br>
			<% } %>
			<% if (author.linkedin) { %>
			<a href="https://www.linkedin.com/in/<%=author.linkedin%>" target="_blank"><img class="ProfileIcon" src="/images/icon_linkedin.png" border="0" alt="LinkedIN" title="LinkedIN"> LinkedIn</a>
			<% } %>

			<hr />
			<h4>Looking for someone else?</h4>
			<p>You can find the rest of the Western Devs Crew <a href="/whoweare">here</a>.</p>
		</div>
	</div>
<!--SIDEBAR CONTENT ENDS-->
