<!--PODCASTS STARTS-->  
  <div class="HomeBox2">
    <div class="HomeBox2Content">
    <% var latestPodcast = site.posts.find({'layout' : 'podcast'}).sort('date', -1).first(); %>      
      <h2><a href="/podcasts"><img class="icon" src="images/icon_podcasts.png" alt="LATEST PODCASTS" title="LATEST PODCAST" border="0"> LATEST PODCAST</a></h2>
      <a href="<%- url_for(latestPodcast.path) %>" class="subposts"><%= latestPodcast.title %> </a><BR>
      <B> <%= moment(latestPodcast.date).format('MMM').toUpperCase() %> <%= moment(latestPodcast.date).format('D') %> </B> - <%= latestPodcast.excerpt %> <BR><BR>
      <iframe style="border: none" src="https://anchor.fm/westerndevs/embed/episodes/<%=latestPodcast.podcast.anchorFmId%>" height="102px" width="270px" frameborder="0" scrolling="no"></iframe>


    </div>
  </div>
<!--PODCASTS ENDS-->

