<!--RECENT POSTS STARTS-->  
  <div class="HomeBox1">
    <div class="HomeBox1Content">
      <h1><img class="icon" src="images/icon_posts.png" alt="RECENT POSTS" title="RECENT POSTS" border="0"> RECENT POSTS</h1>
      
      <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
      <div class="ListLrgHomeBG">
        <div class="ListLrgDateBG">
          <div class="ListLrgDateMonth"><%= moment(post.date).format('MMM').toUpperCase() %></div>
          <div class="ListLrgDateDay"><%= moment(post.date).format('D') %></div>
        </div>
        <div class="ListLrgTxt recentPosts">
          <% var cat = post.categories.findOne({name: 'podcasts'}) %>
          <% var prefix = (cat ? "Podcast: " : "") %>
          <a class="posts" href="<%- url_for(post.path) %>">
            <%= prefix + (post.title || '(no title)') %>
          </a><br/>
          <% if (post.author && post.author.name ) { %>
          <B><%= post.author.name %></B><BR>
          <% } %>
          <div class="ellipsis">
          <% if (post.excerpt) { %>
            <%= trim(strip_html(post.excerpt)) %>
          <% } %>
          </div>
        </div>
      </div>      
      <% }) %>
      
    </div>
  </div>
<!--RECENT POSTS ENDS-->

