<!--RECENT POSTS STARTS-->  
  <div class="HomeBox1">
    <div class="HomeBox1Content">
      <h1><img class="icon" src="images/icon_posts.png" alt="RECENT POSTS" title="RECENT POSTS" border="0"> RECENT POSTS</h1>
      
      <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
      <div class="ListLrgHomeBG">
        <div class="ListLrgDateBG">
          <font class="ListLrgDateMonth"><%= moment(post.date).format('MMM').toUpperCase() %></font><BR>
          <font class="ListLrgDateDay"><%= moment(post.date).format('D') %></font>        
        </div>
        <div class="ListLrgTxt">
          <a class="posts" href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a><br/>
          <% if (post.author && post.author.name ) { %>
          <B><%= post.author.name %></B><BR>
          <% } %>
          <div class="ellipsis">
          <% if (post.description) { %>
            <%= strip_html(post.description) %>
          <% } else if (post.excerpt) { %>
            <%= trim(strip_html(post.excerpt)) %>
          <% } %>
          </div>
        </div>
      </div>      
      <% }) %>
      
    </div>
  </div>
<!--RECENT POSTS ENDS-->

