<!--SUBHEAD STARTS-->
<div class="WrapperSubHeaderSubpage">
<center>
	<div class="SubHeader">
		<H1 class="title"><img class="icon" src="/images/icon_feature.png" alt="ABOUT US" title="ABOUT US" border="0"> ABOUT US</H1>
	</div>
</center>
</div>
<!--SUBHEAD ENDS-->	

<!--PAGE CONTENT STARTS-->
<center>
<div class="WrapperContent">

<!--MAIN CONTENT STARTS-->	
	<div class="SubpageBoxSubLrg">
		<div class="SubpageBoxSubLrgContent">
			
	        <h2><img class="icon" src="/images/icon_circle_arrow.png" alt=">" title=">" border="0"> <%=page.author.name%></h2>
	        <%- page.content %>
		</div>		
		<div class="SubpageBoxSubLrgContent">
		
	        <h2><img class="icon" src="/images/icon_circle_arrow.png" alt=">" title=">" border="0"> Blog posts</h2>
	              <% site.posts.sort('date', -1).filter(function(post){return post.author && post.author.id == page.author.id;}).each(function(post){ %>
					<div class="ListLrgHomeBG">
						<div class="ListLrgDateBG">
							<div class="ListLrgDateMonth"><%= moment(post.date).format('MMM').toUpperCase() %></div>
							<div class="ListLrgDateDay"><%= moment(post.date).format('D') %></div>
							<div class="ListLrgDateYear"><%= moment(post.date).format('YYYY') %></div>
						</div>
						<div class="ListLrgTxt recentPosts">
							<div>
						<a class="posts" href="<%- url_for(post.path) %>">
							<%= (post.title || '(no title)') %>
						</a><br/>
						<% if (post.author && post.author.name ) { %>
						<B><%= post.author.name %></B><BR>
						<% } %>
						<div>
						<% if (post.excerpt) { %>
							<%= trim(strip_html(post.excerpt)) %>
						<% } %>
							</div>
						</div>
						</div>
					</div>      
					<% }) %>

		</div>
	</div>
<!--MAIN CONTENT ENDS-->

<%- partial('_widget/author_sidebar', { author: page.author }) %>

</div>
</center>
<!--PAGE CONTENT ENDS-->
