<%- partial('_partial/subheader') %>

<!--PAGE CONTENT STARTS-->
<center>
<div class="WrapperContent">

<%- partial('_widget/home_page/recent_posts') %>
<%- partial('_widget/home_page/latest_podcast') %>
<%- partial('_widget/home_page/speaking') %>
<%- partial('_widget/home_page/what_weve_done') %>
<%- partial('_widget/home_page/feature') %>
  
</div>
</center>
<!--PAGE CONTENT ENDS-->

