<!--SUBHEAD STARTS-->
<div class="WrapperSubHeaderSubpage">
<center>
	<div class="SubHeader">
		<H1 class="title"><img class="icon" src="/images/icon_done.png" alt="BOOKS" title="BOOKS" border="0"> WHAT WE'VE DONE</H1>
	</div>
</center>
</div>
<!--SUBHEAD ENDS-->	


<!--PAGE CONTENT STARTS-->
<center>
<div class="WrapperContent">

<!--MAIN CONTENT STARTS-->	
	<div class="SubpageBoxFull">
		<div class="SubpageBoxFullContent">
		
			<h2><img class="icon" src="/images/icon_circle_arrow.png" alt=">" title=">" border="0"> BOOKS</h2>			
			<div class="book-list">
			<% for (bookIndex in site.data.whatwevedone.books) {%>
				<% var book = site.data.whatwevedone.books[bookIndex] %>
				<div class="book">
					<a href="<%=book.url%>">
					<img class="FX1" src="/images/whatwevedone/<%=book.image%>" />
					</a>
				</div>
			<% } %>
			</div>
			
			<hr class="LineFull1">
			
			<h2 style="padding-bottom:15px;"><img class="icon" src="/images/icon_circle_arrow.png" alt=">" title=">" border="0"> APPLICATIONS</h2>			
			<div class="app-list">
			<% for (appIndex in site.data.whatwevedone.apps) {%>
				<% var app = site.data.whatwevedone.apps[appIndex] %>
				<a href="<%=app.url%>" target="_blank"><img src="/images/<%=app.image%>" border="0" style="float: right; margin-left: 10px;"></a><B><%=_.get(site.data.authors, app.author).name%></B><BR>
				<%=app.description%>
			<%}%>
			</div>
			
			<hr class="LineFull1">
			
			<h2 style="padding-bottom: 15px;"><img class="icon" src="/images/icon_circle_arrow.png" alt=">" title=">" border="0"> CODE</h2>
			
			<div class="code-list">
			<% for (codeIndex in site.data.whatwevedone.code) {%>
				<% var code = site.data.whatwevedone.code[codeIndex]%>
				<h3><img class="icon" src="/images/icon_forward_arrow.png" alt=">" title=">" border="0"> <a href="<%=code.url%>"><%=code.title%></a></H3>
				<B><%=_.get(site.data.authors, code.author).name%></B><BR>
				<%=code.description%>

				<% if (codeIndex < site.data.whatwevedone.code.length - 1) {%>
					<hr class="LineFull2">
				<%}%>
			<%}%>			
			</div>
			
		</div>
	</div>
<!--MAIN CONTENT ENDS-->


</div>
</center>
<!--PAGE CONTENT ENDS-->
