  <head>
  <% 
  var title = page.title; 
  %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><% if (title){ %><%= title %> | <% } %><%= config.title%></title>
  <%-
    open_graph({
      twitter_id: theme.twitter, 
      google_plus: theme.google_plus, 
      fb_admins: theme.fb_admins, 
      fb_app_id: theme.fb_app_id})
  %>

    <meta name="title" content="WesternDevs">   
    <meta name="keywords" content="software development,software,asp.net,blog">
    <meta name="description" content="We're all west of somewhere">
    <meta name="copyright" content="WesternDevs">
    <meta name="revisit-after" content="15 days">
    <meta name="robots" content="all">
    <meta name="MSSmartTagsPreventParsing" content="true">
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <%- css('css/style') %>
      
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  

  </head>
<head>
