<!--SUBHEAD STARTS-->
<div class="WrapperSubHeaderSubpage">
<center>
	<div class="SubHeader">
		<H1 class="title"><img class="icon" src="/images/icon_posts.png" alt="POSTS" title="POSTS" border="0"> POSTS</H1>
	</div>
</center>
</div>
<!--SUBHEAD ENDS-->	


<!--PAGE CONTENT STARTS-->
<center>
<div class="WrapperContent">

	
<!--MAIN CONTENT STARTS-->	
	<div class="SubpageBoxFull">
		<div class="SubpageBoxFullContent">
			<h2><img class="icon" src="/images/icon_circle_arrow.png" alt=">" title=">" border="0"> 2015 POSTS</h2>
			
			<% site.posts.sort('date', -1).each(function(post){ %>
            <% var cat = post.categories.findOne({name: 'podcasts'}) %>
			<div class="ListLrgSubBG">
			<div class="ListLrgDateBG">
			  <div class="ListLrgDateMonth"><%= moment(post.date).format('MMM').toUpperCase() %></div>
			  <div class="ListLrgDateDay"><%= moment(post.date).format('D') %></div>        
			</div>
			<div class="ListLrgTxtSub">
	          <% var cat = post.categories.findOne({name: 'podcasts'}) %>
    	      <% var prefix = (cat ? "Podcast: " : "") %>
			  <a class="posts" href="<%- url_for(post.path) %>"><%= prefix + (post.title || '(no title)') %></a><br/>
			  <% if (post.author && post.author.name ) { %>
			  <B><%= post.author.name %></B><BR>
			  <% } %>
			  <div>
			  <% if(cat) { %>
					<div class="pull-right podcast-icon"><i class="fa fa-2x fa-volume-up"></i></div>
		      <% } %>
			  <% if (post.excerpt) { %>
			    <%= trim(strip_html(post.excerpt)) %>
			  <% } %>
			  </div>
			</div>
			</div>      
			<% }) %>
			
		</div>
	</div>
<!--MAIN CONTENT ENDS-->


</div>
</center>
<!--PAGE CONTENT ENDS-->

